### IntelliJ IDEA ###
out/
!**/src/main/**/out/
!**/src/test/**/out/
.idea
calibratedcpp-beast/META-INF/
*.iml
*/target

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store

### BEAST Output ###
*.log
*.trees
*.state
*.state.new

### R ###
.Rprofile
.Rhistory
.Rproj.user
validation.Rproj

### trees ###
/calibartedcpp-beast/validation/trees/*
